# Global directories
__pycache__/

# Global files
*.py[cod]
*.log

# Root directories
/.coverage
/.env/
/.hatch/
/.idea/
/.mypy_cache/
/.pytest_cache/
/.vscode/
/dist/
/docs/_build/
{% if cookiecutter.src_layout == "y" -%}/src{%- endif -%}/*.egg-info/

# Root files
/.coverage*
